# Configuration file

"base materials" {
    S:ender=ENABLED
    S:glowstone=ENABLED
    S:redstone=ENABLED
}


"base metals" {
    S:alumina=ENABLED
    S:aluminium=ENABLED
    S:brass=ENABLED
    S:bronze=ENABLED
    S:cobalt=ENABLED
    S:constantan=ENABLED
    S:copper=ENABLED
    S:electrum=ENABLED
    S:gold=ENABLED
    S:iridium=ENABLED
    S:iron=ENABLED
    S:lead=ENABLED
    S:nickel=ENABLED
    S:platinum=ENABLED
    S:silver=ENABLED
    S:steel=ENABLED
    S:tin=ENABLED
    S:uranium=ENABLED
    S:zinc=ENABLED
}


block {
    # Enable/disable Coke Oven block [default: true]
    B:coke_oven=true
}


botania {
    S:elven_elementium=ENABLED
    S:manasteel=ENABLED
    S:terrasteel=ENABLED
}


debug {
    # Enable debug logging. [default: false]
    B:debug=false
}


general {
    # The maximum temperature (in K) of the basic crucible [range: 0 ~ 10000, default: 4000]
    I:"Advanced Crucible Temp"=4000

    # The maximum temperature (in K) of the basic crucible [range: 0 ~ 10000, default: 2000]
    I:"Basic Crucible Temp"=2000
    B:"Casting Table Uncrafting"=true
    I:"Casting Tick"=81

    # If foundry's CraftTweaker integration logs errors instead of info [default: true]
    B:"CrT Errors"=true
    I:"Crucible (Advanced) Max Temperature"=400000
    I:"Crucible (Basic) Max Temperature"=200000
    I:"Crucible (Standard) Max Temperature"=250000

    # The value, in mB, of an ingot. [range: 36 ~ 2147483647, default: 108]
    I:"Fluid Ingot Value"=144

    # The value, in mB, of an ore.  Set to 0 to use default values. [range: 0 ~ 2147483647, default: 0]
    I:"Fluid Ore Value"=288

    # If the Metal Caster requires power to operate. [default: true]
    B:"Metal Caster Power"=true

    # The maximum temperature (in K) of the basic crucible [range: 0 ~ 10000, default: 2500]
    I:"Standard Crucible Temp"=2500
    I:default_burner_exoflame_heat=90000
    I:default_burner_fuel_heat=1000
}


glass {
    S:glass=ENABLED
    S:glass_black=ENABLED
    S:glass_blue=ENABLED
    S:glass_brown=ENABLED
    S:glass_cyan=ENABLED
    S:glass_gray=ENABLED
    S:glass_green=ENABLED
    S:glass_light_blue=ENABLED
    S:glass_lime=ENABLED
    S:glass_magenta=ENABLED
    S:glass_orange=ENABLED
    S:glass_pink=ENABLED
    S:glass_purple=ENABLED
    S:glass_red=ENABLED
    S:glass_silver=ENABLED
    S:glass_white=ENABLED
    S:glass_yellow=ENABLED
}


##########################################################################################################
# hardcore
#--------------------------------------------------------------------------------------------------------#
# These settings increase the game harder by altering vanilla recipes.
##########################################################################################################

hardcore {
    # Remove 9 ingots to block crafting recipes. [default: false]
    B:remove_block_from_ingots=false

    # Remove 9 nuggets to ingot crafting recipes. [default: false]
    B:remove_ingot_from_nuggets=false

    # Remove furnace recipes that produce ingots. [default: false]
    B:remove_ingots_from_furnace.enable=false

    # Material names of ingots to keep furnace recipes (case sensitive). [default: [Ljava.lang.String;@37fdf8dd]
    S:remove_ingots_from_furnace.keep <
        Copper
        Tin
        Zinc
        Bronze
        Brass
        Lead
     >
}


integration {

    botania {
        B:enable=true
    }

    theoneprobe {
        B:enable=true
    }

    crafttweaker {
        B:enable=true
    }

}


recipes {
    # The priority MODID for Foundry recipes to try using. [default: thermalfoundation]
    S:"Preferred Mod ID"=thermalfoundation
    S:"Preferred Mod ID Priority" <
        minecraft
        thermalfoundation
        substratum
        ic2
        mekanism
        immersiveengineering
        techreborn
     >

    # Enable/disable alumina melting directly into aluminium. [default: false]
    B:alumina_melts_to_aluminium=false

    # Enable/disable casting recipes for equipment [default: true]
    B:equipment=true

    # Enable/disable glass melting and casting recipes [default: true]
    B:glass=true
    B:register_tf_tool_recipes_anyway=false

    # Enable/disable steel infuser recipes [default: true]
    B:steel=true
}


